/*<meta />*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');
@namespace MadCap url(http://www.madcapsoftware.com/Schemas/MadCap.xsd);


body
{
	font-family: 'Open Sans';
	overflow-y: scroll;
	overflow-x: scroll;
}

h1
{
	margin-bottom: 0.25in;
	mc-hyphenate: never;
	page-break-after: avoid;
	page-break-inside: avoid;
	font-family: 'Open Sans';
	page-break-before: always;
	font-weight: Bold;
	font-style: normal;
	color: #cd7f35;
	font-size: 36pt;
	margin-top: 15px;
}

h2
{
	font-weight: normal;
	font-family: 'Open Sans';
	color: cd7f35;
	page-break-after: avoid;
	page-break-inside: avoid;
	font-weight: Bold;
	font-style: normal;
	color: #cd7f35;
	margin-top: 1.75em;
	font-size: 20pt;
}

h3
{
	font-weight: normal;
	font-family: 'Open Sans';
	color: cd7f35;
	font-style: normal;
	page-break-after: avoid;
	page-break-inside: avoid;
	font-weight: Bold;
	font-style: normal;
	color: #cd7f35;
	font-size: 17pt;
}

h4
{
	font-weight: normal;
	font-family: 'Open Sans';
	color: cd7f35;
	page-break-after: avoid;
	page-break-inside: avoid;
	font-size: 14pt;
	font-weight: Bold;
	font-style: normal;
	color: #cd7f35;
}

h5
{
	font-weight: normal;
	font-family: 'Open Sans';
	font-weight: Bold;
	font-style: normal;
	color: #cd7f35;
	font-size: 12pt;
	font-weight: bold;
}

h6
{
	color: cd7f35;
	mc-heading-level: 0;
	font-size: 12pt;
	font-family: 'Open Sans Bold';
	font-weight: normal;
	color: #cd7f35;
	font-style: normal;
}

p
{
	font-family: 'Open Sans';
	font-size: 10pt;
	margin-bottom: 10px;
	margin-top: 10px;
	text-align: justify;
	mc-hyphenate: never;
}

p.code
{
	text-align: left;
	font-size: 12px;
	margin-bottom: 0.500em;
	margin-top: 1.1em;
	font-family: monospace;
}

p.codeIndent0
{
	text-align: left;
	font-size: 12px;
	margin-bottom: 0.5em;
	margin-top: 0.50em;
	font-family: monospace;
}

p.codeIndent1
{
	text-align: left;
	font-size: 12px;
	margin-left: 10px;
	margin-bottom: 0.5em;
	margin-top: 0.50em;
	font-family: monospace;
}

p.codeIndent2
{
	text-align: left;
	font-size: 12px;
	margin-bottom: 0.5em;
	margin-left: 20px;
	margin-top: 0.5em;
	font-family: monospace;
}

p.codeIndent3
{
	text-align: left;
	font-size: 12px;
	margin-bottom: 0.5em;
	margin-top: 0.5em;
	margin-left: 30px;
	font-family: monospace;
}

ol,
ul
{
	margin-top: 0px;
	margin-bottom: 0px;
}

img
{
	border: none;
}

a.Popup
{
	
}

MadCap|expandingHead
{
	font-style: italic;
	font-weight: normal;
	cursor: hand;
	text-decoration: none;
	color: #1a1b1a;
}

MadCap|expandingBody
{
	color: #777777;
	font-style: italic;
}

MadCap|dropDownHotspot
{
	cursor: hand;
	font-style: italic;
	text-decoration: none;
	color: #FF8C00;
	font-size: 16px;
	max-height: 1000000px;
}

h2.pageBreak
{
	page-break-before: always;
}

p.heading1
{
	font-weight: normal;
	margin-bottom: 0.25in;
	margin-top: 25px;
	color: cd7f35;
	font-size: 20pt;
	font-family: 'Open Sans Bold';
}

p.Title
{
	font-weight: bold;
	font-size: 64pt;
	margin-top: 1in;
	page-break-before: always;
	font-style: normal;
	color: #282626;
	text-align: left;
	margin-bottom: 30px;
	mc-hyphenate: never;
}

p.Subtitle
{
	margin-top: 0pt;
	margin-bottom: 0pt;
	text-align: center;
	font-weight: bold;
	font-style: normal;
	color: cd7f35;
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 48pt;
}

MadCap|glossaryProxy
{
	border-top-style: none;
}

MadCap|indexProxy
{
	border-top-style: none;
}

p.Publisher
{
	margin-bottom: 0pt;
	text-align: center;
	font-weight: bold;
	margin-top: 4in;
	font-size: 12pt;
}

@media print
{
	p.Publisher
	{
		page-break-after: always;
	}
}

p.procedure
{
	page-break-after: avoid;
	page-break-inside: avoid;
	mc-hyphenate: never;
	font-family: 'Open Sans Bold';
	text-decoration: none;
	font-weight: normal;
	font-style: italic;
	font-size: 10pt;
	margin-top: 15px;
}

p.step
{
	font-family: 'Open Sans', sans-serif;
	font-style: italic;
	font-weight: 600;
	font-size: 14pt;
	color: #606060;
}

ol
{
	font-size: 10pt;
	font-family: 'Open Sans';
}

ul
{
	font-size: 10pt;
	font-family: 'Open Sans';
}

dl
{
	font-size: 10pt;
	font-family: 'Open Sans';
}

dd
{
	font-size: 10pt;
	font-family: 'Open Sans';
}

dt
{
	font-size: 10pt;
	font-family: 'Open Sans';
}

li
{
	font-size: 10pt;
	font-family: 'Open Sans';
	margin-bottom: 10px;
	margin-top: 10px;
	mc-hyphenate: never;
}

p.Note {
    mc-auto-number-format: '{b}NOTE: {/b}';
    border-left-style: solid;
    background-color: rgb(255, 229, 204); /* Slight orange background */
    padding: 10px;
    border-radius: 5px;
    border-left-width: 0px;
    padding-left: 65px; /* Adjust to align with the word "NOTE" */
    margin-left: 0px;
    text-indent: -65px; /* Moves the first line back so text aligns properly */
}

p.Note_continue
{
	border-left-style: solid;
	border-left-width: 0px;
	background-color: rgb(255, 229, 204);
	/* Slight orange background */
	padding-left: 0px;
	margin-left: 65px;
	color: #3d5065;
	text-indent: 0px; /* Moves the first line back so text aligns properly */
}

p.Important 
{
    mc-auto-number-format: '{b}IMPORTANT: {/b}';
    border-left-style: solid;
    background-color: rgb(255, 212, 201);
    padding: 10px;
    border-radius: 5px;
    border-left-width: 0px;
    padding-left: 125px; /* Adjust to align with the word "RECOMMENDED" */
    margin-left: 0px;
    text-indent: -125px; /* Moves the first line back so text aligns properly */
}

p.Important_continue
{
	border-left-style: solid;
	border-left-width: 0px;
	background-color: rgb(255, 212, 201);
	padding-left: 0px;
	margin-left: 125px;
	color: #3d5065;
}

p.Recommended 
{
    mc-auto-number-format: '{b}RECOMMENDED: {/b}';
    border-left-style: solid;
    background-color: rgb(193, 225, 193);
    padding: 10px;
    border-radius: 5px;
    border-left-width: 0px;
    padding-left: 165px; /* Adjust to align with the word "RECOMMENDED" */
    margin-left: 0px;
    text-indent: -165px; /* Moves the first line back so text aligns properly */
}
p.Recommended_continue
{
	border-left-style: solid;
	border-left-width: 0px;
	background-color: rgb(193, 225, 193);
	padding-left: 0px;
	margin-left: 165px;
	color: #3d5065;
	text-indent: 0px; /* Moves the first line back so text aligns properly */
}
p.Highlight {
    border-left-width: 0;
    border-left-style: none;
    background-color: rgb(193, 225, 193);
    padding-left: 0px;
    color: #3d5065;
    text-indent: 0px; /* Moves the first line back so text aligns properly */
}

p.Tip 
{
    mc-auto-number-format: '{b}TIP: {/b}';
    border-left-style: solid;
    background-color: rgb(205, 244, 255);
    padding: 10px;
    border-radius: 5px;
    border-left-width: 0px;
    padding-left: 40px; /* Adjust to align with the word "TIP" */
    margin-left: 0px;
    text-indent: -40px; /* Moves the first line back so text aligns properly */
}

p.Tip_continue
{
	border-left-style: solid;
	border-left-width: 0px;
	background-color: rgb(205, 244, 255);
	padding-left: 0px;
	margin-left: 40px;
	color: #3d5065;
	text-indent: 0px; /* Moves the first line back so text aligns properly */
}

table
{
	font-family: 'Open Sans';
	font-size: 10pt;
	text-align: left;
	vertical-align: top;
	border-left-style: solid;
	border-left-width: 0px;
	border-left-color: ;
	border-right-style: solid;
	border-right-width: 0px;
	border-right-color: ;
	border-top-style: solid;
	border-top-width: 0px;
	border-top-color: ;
	border-bottom-style: solid;
	border-bottom-width: 0px;
	border-bottom-color: ;
	padding-left: 0px;
}

MadCap|xref
{
	mc-format: ;
}

MadCap|xref.Just_link
{
	font-family: 'Open Sans';
	mc-format: '{color blue}{u}{paratext}{/u}{/color}';
}

caption
{
	font-weight: normal;
	font-style: italic;
	font-size: 10pt;
	font-family: 'Open Sans';
}

hr
{
	
}

p.footer_text
{
	font-size: 8pt;
	color: #a9a9a9;
}

MadCap|xref.Refer_to
{
	mc-format: 'Refer to {color orange}{u}{paratext}{/u}{/color} for more information.';
}

MadCap|xref.Refer_to_instructions
{
	mc-format: 'Refer to {color orange}{u}{paratext}{/u}{/color} for detailed instructions on ';
}

p.break_after
{
	page-break-after: always;
}

tr
{
	font-size: 10pt;
}

thead
{
	font-size: 10pt;
	font-weight: bold;
	font-style: normal;
	color: cd7f35;
	mc-hyphenate: never;
}

tbody
{
	font-size: 10pt;
}

tfoot
{
	font-size: 10pt;
}

th
{
	font-size: 10pt;
}

td
{
	font-size: 10pt;
	text-align: left;
	vertical-align: top;
	mc-hyphenate: never;
}

col
{
	font-size: 10pt;
}

colgroup
{
	font-size: 10pt;
}

p.version
{
	font-weight: bold;
	font-style: normal;
	color: cd7f35;
	font-size: 24pt;
}

a
{
	color: cd7f35;
}

p.MiniTOC2
{
	font-family: 'Open Sans Bold';
}

p.MiniTOC1
{
	
}

p.MiniTOC3
{
	
}

p.TOC2
{
	font-family: 'Open Sans Bold';
}

p.TOC1
{
	
}

p.footnote
{
	font-weight: normal;
	font-style: italic;
	font-size: 8pt;
}

MadCap|tocProxy
{
	font-family: 'Open Sans';
	border-top-style: none;
}


p.BodyText
{
	orphans: 2;
	widows: 2;
	font-family: 'Open Sans';
	font-size: 12pt;
}

p.ListParagraph
{
	orphans: 2;
	widows: 2;
	font-size: 11pt;
	font-family: 'Open Sans';
}

li.ListParagraph
{
	orphans: 2;
	widows: 2;
	font-size: 11pt;
	font-family: 'Open Sans';
}

p.TableParagraph
{
	orphans: 2;
	widows: 2;
	font-size: 11pt;
	font-family: 'Open Sans';
}
